.login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

.login-box {
  max-width: 40%;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.login-form h4 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.login-form-input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-color: #4da6ff;
}

.login-btn[type="submit"] {
  background-color: #4da6ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.login-btn[type="submit"]:hover {
  background-color: #388bff;
}

.error-message {
  color: red;
  margin-top: 20px;
  text-align: center;
}
