.signup {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  height: 100vh;
}

.signup-box {
  max-width: 40%;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000033;
  padding: 20px;
}

.sign-form h4 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.sign-form-input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

.sign-form-input:focus {
  outline: none;
  border-color: #4da6ff;
}
