.header-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #ccc;
}
h1 {
  font-size: 30px;
}
nav ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 14px;
}

.header-link {
  text-decoration: none;
  color: black;
}
