.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.feed-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  width: 100%;
  max-width: 76%;
  background-color: #fff;
  padding: 10px;
  border-radius: 14px;
}

.feed-post-container {
  padding: 16px;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.profile-pic-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  border: 1px solid #000000;
}

.image-post-container {
  position: relative;
  margin-bottom: 16px;
}

.post-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  font-weight: 600;
  margin-right: 10px;
}

.caption {
  margin-top: 16px;
  word-wrap: break-word;
}

.comment-section {
  margin-top: 20px;
}

.comment {
  margin-bottom: 10px;
}

.comment-username {
  font-weight: bold;
}

.comment-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment-input {
  flex-grow: 1;
  padding: 8px 10px;
  border: none;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.comment-submit {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.comment-submit:hover {
  background-color: #3182ce;
}

.comment-submit:focus {
  outline: none;
}
