.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(187, 184, 184, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 15px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
}

.exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
}

.exit-btn:hover {
  color: #333;
}

.modal-btn {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  padding: 8px;
}

.modal-btn:hover {
  background-color: #2979c4;
}

.modal-flex {
  display: flex;
  align-items: center;
}
