.post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  margin-top: 50px;
}

.image-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.profilecard-img {
  position: absolute;
  border-radius: 9px 9px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-info-container .username {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-info-container .info {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

.about {
  margin-top: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: none;
}

.about span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.user-info-container:hover .about {
  display: block;
}
